<div style="margin-top:20px">
	<table class="table">
	  <thead>
	    <tr>
	      <th>ID Caja</th>
	      <th>Status</th>
	      <th>Nombre producto</th>
	      <th>Cantidad</th>
	      <th>Valor asignado</th>
	      <th>Descripción</th>
	      <th>Acciones</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% stored_items.each do |stored_item| %>
	      <tr>
	        <td><%= stored_item.order_storage_item.id %></td>
	        <td><%= stored_item.order_storage_item.order_storage_item_status.name unless stored_item.order_storage_item.order_storage_item_status.blank? %></td>
	        <td><%= stored_item.name %></td>
	        <td><%= stored_item.quantity %></td>
	        <td><%= number_to_currency stored_item.assigned_value %> c/u</td>
	        <td><%= stored_item.description %></td>
	        <td><%= link_to 'Recolectar', '#', :class => 'btn btn-default btn-xs' %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>