<div style="margin-top:20px">
	<table class="table">
	  <thead>
	    <tr>
	      <th>ID Item</th>
	      <th>Nombre Item</th>
	      <th style="width:200px">Status</th>
	      <th>Nombre producto</th>
	      <th>Cantidad</th>
	      <th>Valor asignado</th>
	      <th>Acciones</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% stored_items.each do |stored_item| %>
	      <tr>
	        <td><%= stored_item.order_storage_item.id %></td>
	        <td><%= stored_item.order_storage_item.name.blank? ? 'No asignado' : stored_item.order_storage_item.name %></td>
	        <td><%= stored_item.order_storage_item.order_storage_item_status.public_name unless stored_item.order_storage_item.order_storage_item_status.blank? %></td>
	        <td><%= stored_item.name %></td>
	        <td><%= stored_item.quantity %></td>
	        <td><%= number_to_currency stored_item.assigned_value %> c/u</td>
	        <td>
				<% if stored_item.order_storage_item.order_storage_item_status == @in_warehouse %>
				<button class='btn btn-xs <%= stored_item.order_storage_item.order_return.blank? ? 'btn-default' : 'btn-primary' %> return_<%= stored_item.order_storage_item.id.to_s%>' 
					style= "font-size:10px;" onclick='add_to_osi_to_return(<%= stored_item.order.id.to_s %>, <%= stored_item.order_storage_item.id.to_s %>)'>
					<%= stored_item.order_storage_item.order_return.blank? ? 'Agregar a items para devolver' : 'Eliminar de items a devolver' %>
				</button>
				<% end %>
			</td>
	      </tr>
		<%= render 'orders/return_request_modal', osi: stored_item.order_storage_item %>
	    <% end %>
	  </tbody>
	</table>
</div>