<h1>Inventario <%= @in_box ? 'en caja ID '+@q : '' %></h1>
<%= form_tag(request.fullpath, :method => "get", :class => 'form-inline', role: 'form') do %>
  <div class="form-group" style="width:100%">
	<%= text_field_tag(:q, @q, class: "form-control input-sm", placeholder: "Busca por ID de la caja o por el nombre o la descripción de un producto específico", style: 'width:80%' ) %>
	<%= submit_tag 'Buscar', class: "btn btn-default" %>
  </div>
<% end %>

<%= render 'stored_items_details', stored_items: @stored_items %>