<p id="notice"><%= notice %></p>

<p>
  <strong>Order storage item:</strong>
  <%= @stored_item.order_storage_item_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stored_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stored_item.description %>
</p>

<p>
  <strong>Assigned value:</strong>
  <%= @stored_item.assigned_value %>
</p>

<%= link_to 'Edit', edit_stored_item_path(@stored_item) %> |
<%= link_to 'Back', stored_items_path %>
