<h1>Backoffice</h1>
<ul class="nav nav-tabs nav-stacked" style="border:none">
	<li><hr /></li>
	<li><%= link_to 'Administrar Pedidos', main_orders_path %></li>
	<li><%= link_to 'Administrar Pagos Realizados', main_payments_path %></li>
	<li><%= link_to 'Administrar Items por Devolver', storage_items_waiting_to_be_returned_path %></li>
	<li><%= link_to 'Ver comprobantes de devolución', storage_item_return_proofs_path %></li>
	<li><%= link_to 'Detalle de contactos', contacts_path %></li>
	<li><hr /></li>
	<li><%= link_to 'Páginas Informativas', information_pages_path %></li>
	<li><%= link_to 'Administrar Blog', blog_posts_path %></li>
	<li><%= link_to 'Testimonios', testimonies_path %></li>
	<li><%= link_to 'Preguntas Frecuentes', faqs_path %></li>
	<li><%= link_to 'Secciones de Preguntas Frecuentes', faq_sections_path %></li>
	<li><hr /></li>
	<li><%= link_to 'Subscribers', subscribers_path %></li>
	<li><%= link_to 'Storage Items', storage_items_path %></li>
	<li><%= link_to 'Países', countries_path %></li>
	<li><hr /></li>
</ul>