<h1>Preguntas Frecuentes</h1>
<hr />
<% @faq_sections.each do |section| %>
	<h2><%= section.name %></h2>
	<p><%= section.description %></p>
	<% section.faqs.each do |faq| %>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
	    	<div class="panel-heading faq-section">
	      		<h2 class="panel-title">
	        		<a data-toggle="collapse" data-parent="#accordion" href="<%= '#collapse'+faq.id.to_s %>">
	          			<span class="glyphicon glyphicon-plus" style="font-size:12px"></span> <%= faq.question %>
	        		</a>
	      		</h2>
	    	</div>
	    	<div id="<%= 'collapse'+faq.id.to_s %>" class="panel-collapse collapse">
	      		<div class="panel-body">
					<%= faq.answer.gsub(/\n/, '<br />').html_safe %>
	     		</div>
			</div>
		</div>
	</div>
	<% end %>
	<hr />
<% end %>