<h1>Preguntas Frecuentes</h1>
<div class="panel-group" id="accordion">
<% @faq_sections.each do |section| %>
  <div class="panel panel-default">
    	<div class="panel-heading faq-section">
      		<h2 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="<%= '#collapse'+section.id.to_s %>">
          			<span class="glyphicon glyphicon-plus" style="font-size:12px"></span> <%= section.name %>
        		</a>
      		</h2>
			<p><%= section.description %></p>
    	</div>
    	<div id="<%= 'collapse'+section.id.to_s %>" class="panel-collapse collapse">
      		<div class="panel-body">
				<% section.faqs.each do |faq| %>
					<h3 style="margin-top:0px"><%= faq.question %></h3>
					<div class="well">
						<%= faq.answer.gsub(/\n/, '<br />').html_safe %>
					</div>
				<% end %>
     		</div>
		</div>
	</div>
<% end %>
</div>