<div class="row introduction">
	<div class="col-md-12 center">
		<h1>Storage made Easy</h1>
		<p>SpaceWays Does Your Self Storage.<p>
		<p>Convenient London Storage from £6/month.</p>
		<p><%= link_to 'Comienza acá', '#', :class => 'btn btn-default btn-lg' %></p>
	</div>
</div>
<hr />
<div class="row center">
	<div class="col-md-3">
		<div class="img-rounded how-it-works">
			<%= image_tag 'home/paso_1_deliver_boxes.png', :class => 'how-it-works-image img-responsive' %>
			<p class="how-it-works-text">Entregamos cajas a tu domicilio gratis</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="img-rounded how-it-works">
			<%= image_tag 'home/paso_2_pack_items.png', :class => 'how-it-works-image img-responsive' %>
			<p class="how-it-works-text">Llena las cajas con los objetos que quieras guardar</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="img-rounded how-it-works">
			<%= image_tag 'home/paso3_collect.png', :class => 'how-it-works-image img-responsive' %>
			<p class="how-it-works-text">Pasamos a buscar las cajas</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="img-rounded how-it-works">
			<%= image_tag 'home/paso4_return_items.png', :class => 'how-it-works-image img-responsive' %>
			<p class="how-it-works-text">Devolvemos las cajas cuando las necesites</p>
		</div>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-12 know-more">
 		<p>¡Conoce más!</p>
		<p><span class="glyphicon glyphicon-chevron-down" style="font-size:20px"></span></p>
	</div>
</div>
<hr />
<div class="row we-do-the-work">
	<div class="col-md-6">
		<h2>Nosotros hacemos el trabajo,<br />
		sin que te muevas de tu casa</h2>
		<ul>
			<li>Guardamos tus objetos desde $ 4,990 /mes</li>
			<li>Pasamos a buscar las cajas gratis</li>
			<li>Nuestra bodega cuenta con cámaras de seguridad</li>
			<li>Inventario online de tus objetos</li>
			<li>Necesitas algo de vuelta? Podemos entregar en 48 horas</li>
		</ul>
	</div>
	<div class="col-md-6">
 		<p><%= image_tag 'home/inventory_macbook.png', :class => 'img-responsive' %></p>
	</div>
</div>
<hr />
<div class="row pricing">
	<div class="col-md-12 center">
		<h2>Precios</h2>
		<h3>Paga solo por el espacio que ocupas</h3>
	</div>
</div>
<div class="row pricing" style="margin-bottom:50px;">
	<div class="img-rounded pricing-item img-responsive" style="border:1px solid #999;">
		<div class="col-md-3 vcenter">
			<%= image_tag 'home/warehouse_boxes.png', :class => 'img-responsive', style: 'margin:0 auto; margin-top:-20px;' %>
			<p class="center" style="margin-top:5px">Cajas Warehouse</p>
		</div><!--
		--><div class="col-md-7 vcenter">
			<ul>
				<li>Entregamos cajas de excelente calidad gratis</li>
				<li>Pasamos a buscar las cajas llenas</li>
				<li>Te enviamos la cantidad de cajas que quieras por $ 14,990</li>
				<li>Bodegas seguras y aseguradas</li>
				<li>Contrato mínimo de tres meses</li>
			</ul>
		</div><!--
		--><div class="col-md-2 vcenter">
			<h2 style="font-weight:bold; color:#cb39f5">$ 4,990</h2>
			<p class="center">por caja / mes</p>
		</div>
	</div>
</div>
<div class="row pricing" style="margin-bottom:20px;">
	<div class="img-rounded pricing-item img-responsive" style="border:1px solid #999;">
		<div class="col-md-3 vcenter">
			<%= image_tag 'home/warehouse_items.png', :class => 'img-responsive', style: 'margin:0 auto; margin-top:-20px;' %>
			<p class="center" style="margin-top:20px">Warehouse Items</p>
		</div><!--
		--><div class="col-md-7 vcenter">
			<ul>
				<li>Pasamos a buscar objetos sueltos</li>
				<li>Te enviamos la cantidad de cajas que quieras por $ 14,990</li>
				<li>Bodegas seguras y aseguradas</li>
				<li>Contrato mínimo de tres meses</li>
			</ul>
		</div><!--
		--><div class="col-md-2 vcenter">
			<h2 style="font-weight:bold; color:#cb39f5">$ 4,990</h2>
			<p class="center">por item / mes</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 center">
		<p><%= link_to 'Comienza acá', '#', :class => 'btn btn-default btn-lg' %></p>
	</div>
</div>
<hr />



