<div class="row introduction">
	<div class="col-md-12 center">
		<h1>Storage made Easy</h1>
		<p>SpaceWays Does Your Self Storage.<p>
		<p>Convenient London Storage from £6/month.</p>
		<p><%= link_to 'Comienza acá', '#', :class => 'btn btn-default btn-lg' %></p>
	</div>
</div>
<div class="row center">
	<div class="col-md-3">
		<div class="img-rounded how-it-works">
			<%= image_tag 'home/paso_1_deliver_boxes.png', :class => 'how-it-works-image' %>
			<p class="how-it-works-text">We deliver free storage boxes.</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="img-rounded how-it-works">
			<%= image_tag 'home/paso_2_pack_items.png', :class => 'how-it-works-image' %>
			<p class="how-it-works-text">You just pack and gather large items.</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="img-rounded how-it-works">
			<%= image_tag 'home/paso3_collect.png', :class => 'how-it-works-image' %>
			<p class="how-it-works-text">We collect and store securely.</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="img-rounded how-it-works">
			<%= image_tag 'home/paso4_return_items.png', :class => 'how-it-works-image' %>
			<p class="how-it-works-text">We return your items on demand.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 how-it-works-text">
 		<p>¡Conoce más!</p>
		<p><span class="glyphicon glyphicon-chevron-down" style="font-size:20px"></span></p>
	</div>
</div>
<div class="row we-do-the-work">
	<div class="col-md-6">
		<h2>We do the work,<br />
		you never leave home</h2>
		<ul>
			<li>Monthly storage from £6</li>
			<li>Free collection of your items</li>
			<li>Our warehouse is CCTV-monitored</li>
			<li>Track the status of your belongings online</li>
			<li>Need something back? We can deliver within 48 hours</li>
		</ul>
	</div>
	<div class="col-md-6">
 		<p><%= image_tag 'home/inventory_macbook.png', :class => 'img-responsive' %></p>
	</div>
</div>