<% content_for :content do %>
	<p>Hola <%= @user.name %>!</p>
	<p>Procederemos a validar la recepción de fondos de la solicitud de devolución que generaste. Una vez esté OK te llegará un correo confirmando que procederemos con la devolución de tus cosas.</p>
	<p>Las cosas que te vamos a devolver son:</p>
	<ul>
		<% @order_return.order_storage_items.each do |osi| %>
		<li>
			<b>Item #<%= osi.id %></b> <%= osi.storage_item.public_name %> <%= osi.name.blank? ? '' : '('+osi.name+')' %>
		</li>
		<% end %>
		</li>
	</ul>
	<p>El día <b><%= l(@order_return.return_delivery_day, format: :date_detail) %></b> alrededor de las <b><%= @order_return.return_delivery_time %></b> las llevaremos a 
		<%= @order_return.address.receiver %> a la dirección <b><%= @order_return.address.name %> <%= @order_return.address.area.name %></b>.</p>
<% end %>
<%= render "layouts/email" %>