<% content_for :content do %>
<p>Hola <%= @user.name %>!</p>
<p>Te confirmado que hemos recibido tu pago de <%= number_to_currency @order_storage_item.return_price %> para generar la devolución de tus cosas bajo 
	el identificador #<%= @order_storage_item.id.to_s %>.</p>
<p>El detalle de las cosas guardadas que devolveremos es:</p>
<ul>
	<% @order_storage_item.stored_items.each do |si| %>
	<li><%= si.quantity %> <%= si.name %></li>
	<% end %>
</ul>
<p>El día <b><%= l(@order_storage_item.order_return.return_delivery_day, format: :date_detail) %></b> alrededor de las <b><%= @order_storage_item.order_return.return_delivery_time %></b> las llevaremos a <%= @order_storage_item.order_return.address.receiver %> a la dirección <b><%= @order_storage_item.order_return.address.name %> <%= @order_storage_item.order_return.address.area.name %></b>.</p>
<% end %>
<%= render "layouts/email" %>