<% content_for :content do %>
	<p>Hola <%= @order.user.name %>!</p>
	<% if @order.user.orders.size == 1 %>
		<p>Gracias por usar MyPlaceToStore!</p>
	<% end %>
	<p>Te informamos que tu pago se encuentra en proceso de validación. Una vez que validemos el pago, te enviaremos un e-mail con la confirmación y los datos de despacho.</p>
	<p>El detalle del pedido que generaste es el siguiente:</p>
		<% @order.storage_items.uniq.each do |si| %>
		<p>
			<b><%= @order.storage_items.where('storage_item_id = ?', si.id).size %> <%= si.public_name %></b>
			<%= number_to_currency @order.storage_items.where('storage_item_id = ?', si.id).size*si.price %>
		</p>
		<% end %>
		<p><b>Retiro de productos:</b> Gratis!</p>
	<p><b>Total: <%= number_to_currency @order.order_storage_items.sum('price'), precision: 0 %></b></p>
	<% if @order.storage_items.include? StorageItem.find_by_name('other') %>
	<p class="center">
		* Los items "Otros" se cobrarán una vez se defina el precio. Te contactaremos antes para enviarte la cotización. Si no estás conforme con algo te devolveremos el dinero de inmediato
	</p>
	<% end %>
	<p>La información que entregaremos al conductor es la siguiente:</p>
	<ul>
		<li>Dirección: <%= @order.address.name %>, <%= @order.address.area.name %></li>
		<li>Fecha/hora de entrega: <%= l(@order.delivery_date, format: :medium).capitalize %> entre <%= @order.delivery_time %></li>
		<li>Nombre contacto: <%= @order.address.receiver %></li>
		<li>Teléfono contacto: <%= @order.address.phone_number %></li>
	</ul>
	<p>Puedes hacer seguimiento de tu pedido a través de nuestra página web <%= link_to 'www.myplacetostore.com', root_url %> o en los siguientes links:</p>
	<p><b><%= link_to 'Pedidos', orders_url %></b></p>
	<ul>
		<li>Administrar el detalle de todos los pedidos que has hecho.</li>
		<li>Revisar el estado en que se encuentra cada uno.</li>
		<li>Ver el detalle de lo almacenado en cada pedido.</li>
	</ul>
	<p><b><%= link_to 'Inventario', stored_items_url %></b></p>
	<ul>
		<li>Revisar detalle de lo que tienes guardado en la bodega.</li>
		<li>Pedir devolución de items, ver qué tienes guardado y dónde.</li>
		<li>Buscar tus cosas usando el buscador que armamos para ti.</li>
	</ul>
	<p><b><%= link_to 'Direcciones', addresses_url %></b></p>
	<ul>
		<li>Administrar el detalle de las direcciones que has ingresado.</li>
		<li>Modificar y agregar nuevas.</li>
	</ul>
	<p><b><%= link_to 'Pagos', payments_orders_url %></b></p>
	<ul>
		<li>Administrar y revisar los pagos que has hecho.</li>
		<li>Revisar cuándo se te van a generar nuevos cobros y pagar lo que debes.</li>
	</ul>
<% end %>
<%= render "layouts/email" %>