<% content_for :content do %>
	<p>Hola <%= @user.name %>!</p>
	<p>Espero que estés muy bien! Te confirmamos que ya entregamos las cajas en la dirección <%= @order.address.name %>, <%= @order.address.area.name %></p>
	<p>El identificador de tu pedido es el #<%= @order.id %></p>
	<% if @order.storage_items.include?(@regular_boxes) %>
		<% if @order.collect_immediately %>
			<p>Recuerda que tendrás 20 minutos para guardar tus cosas. Nuestro conductor estará esperándote ansioso de pasar a buscar otras cajas! No lo hagas esperar! Recuerda que es importante que guardes bien tus cosas.</p>
		<% else %>
			<p>Has decidido tomarte un tiempo para guardar tus cosas. ¡Nos parece perfecto! No hay duda que tus cosas valen mucho y quieres tomarte tu tiempo para guardarlas. Te recordamos que uno de nuestros conductores estará pasando a buscar los items que vas a guardar el <%= l(@order.collection_date, format: :medium).capitalize %> entre <%= @order.collection_time %></p>
		<% end %>	
	<% end %>
	<p>No te olvides que puedes verificar el estado de tu pedido en tu panel de control entrando con tu usuario a <% link_to 'www.MyPlaceToStore.com', root_url %>.</p>
<% end %>
<%= render "layouts/email" %>