<% content_for :content do %>
	<p>Hola <%= @user.name %>!</p>
	<p>Te confirmamos que pasamos a buscar tus cosas en la dirección <%= @order.address.name %>, <%= @order.address.area.name %></p>
	<p>Las cajas van camino a nuestras bodegas. ¡Las estamos esperando con bombos y platillos! Una vez lleguen te enviaremos un correo confirmando que ya están guardadas sanas y salvas.</p>
	<p>Recuerda que el identificador de tu pedido es el #<%= @order.id %></p>
	<p>No te olvides que puedes verificar el estado de tu pedido en tu panel de control entrando con tu usuario a www.warehouse.com.</p>
<% end %>
<%= render "layouts/email" %>