<% content_for :content do %>
	<p>Hola <%= @user.name %>!</p>
	<p>Te confirmamos que hemos recibido tu pago de <%= number_to_currency @payment.amount %> por:</p>
	<ul>
		<% @payment.order_storage_items.each do |osi| %>
			<li>
				<%= osi.storage_item.public_name %> identificador #<%= osi.id %> (pedido #<%= osi.order.id %>)
			</li>
		<% end %>
	</ul>
	El/los meses de pago corresponden a:
	<ul>
	<% @payment.payment_months.each do |pm| %>
		<li><%= pm.month.to_s+' - '+pm.year.to_s %></li>
	<% end %>
	</ul>
	<% Order.where('id in (?)', @payment.order_storage_items.map { |n| n.order_id }).each do |order| %>
		<% if order.order_status.name == 'Transfer funds received' %>
			<p>Tu nuevo pedido tiene el identificador #<%= order.id %>! 
				¡Sigamos adelante! Iremos a dejar las cajas y/o recoger los items según la información que nos entregaste:</p>
			<ul>
				<li>Dirección: <%= order.address.name %>, <%= order.address.area.name %></li>
				<li>Fecha/hora: <%= l(order.delivery_date, format: :medium).capitalize %> entre <%= order.delivery_time %></li>
				<li>Nombre contacto: <%= order.address.receiver %></li>
				<li>Teléfono contacto: <%= order.address.phone_number %></li>
			</ul>
			<% if order.storage_items.include?(@regular_boxes) %>
				<% if order.collect_immediately %>
					<p>Recuerda que tendrás 20 minutos para guardar tus cosas. Nuestro conductor estará esperándote ansioso de pasar a buscar otras cajas! No lo hagas esperar! Recuerda que es importante que guardes bien tus cosas.</p>
				<% else %>
					<p>Has decidido tomarte un tiempo para guardar tus cosas. ¡Nos parece perfecto! No hay duda que tus cosas valen mucho y quieres tomarte tu tiempo para guardarlas. Te recordamos que uno de nuestros conductores estará pasando a buscar los items que vas a guardar el <%= l(order.collection_date, format: :medium).capitalize %> entre <%= order.collection_time %></p>
				<% end %>	
			<% end %>
			<p>Antes de pasar te llamaremos al teléfono que nos entregaste para confirmar el nombre del conductor que pasará a vistarte.</p>
			<p>En el caso que quieras cambiar alguno de los datos anteriores solo tienes que escribir a contacto@MyPlaceToStore.com y un representante de nuestro servicio de atención al cliente se contactará contigo.</p>
		<% end %>
	<% end %>
	<p>¡Muchas gracias!</p>
<% end %>
<%= render "layouts/email" %>