<h2>Editar usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, 'Correo', :class => 'control-label' %><br>
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  </div>
  <div class="form-group">
  	<%= f.label :password, 'Nueva clave', :class => 'control-label' %> 
	<%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
	<i>(dejar en blanco si no quieres cambiarlo)</i>
  </div>

  <div class="form-group">
	<%= f.label :password_confirmation, 'Repite tu nueva clave', :class => 'control-label' %> 
	<%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
  </div>

  <div class="form-group">
	<%= f.label :current_password, :class => 'control-label' %> 
	<%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
	<i>(necesitamos tu clave antigua para confirmar los cambios)</i>
  </div>

  <div class="form-actions"><%= f.submit "Actualizar", class: 'btn btn-default', style: 'vertical-align:top;' %></div>
<% end %>

<h3>¿No te gustó la aplicación?</h3>
<p><%= button_to "Cancela tu cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: 'btn btn-default btn-xs', style: 'vertical-align:top;' %></p>