<h1>Listing information_pages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @information_pages.each do |information_page| %>
      <tr>
        <td><%= information_page.title %></td>
        <td><%= information_page.subtitle %></td>
        <td><%= link_to 'Show', information_page %></td>
        <td><%= link_to 'Edit', edit_information_page_path(information_page) %></td>
        <td><%= link_to 'Destroy', information_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Information page', new_information_page_path %>
