
<div class="well center">
	<h1 style="margin:0px; font-weight:normal;"><%= @information_page.title %></h1>
</div>
<div style="max-width:700px; margin:0 auto;">
<h2 style="margin:0px; padding:0px; font-weight:normal"><%= @information_page.subtitle %></h2>
<% @information_page.information_page_contents.each do |ipc| %>
	<h3 style="margin:0px; padding:0px; font-weight:normal"><%= ipc.title %></h3>
	<h4 style="margin:0px; padding:0px"><%= ipc.subtitle %></h4>
	<p><%= ipc.content.html_safe %></p>
<% end %>

<% if user_signed_in? and current_user.is_god? %>
	<%= link_to 'Edit', edit_information_page_path(@information_page), :class => 'btn btn-primary' %> |
	<%= link_to 'Back', information_pages_path, :class => 'btn btn-default' %>
<% end %>
</div>