<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @information_page.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @information_page.subtitle %>
</p>

<div style="margin-left:20px">
	<% @information_page.information_page_contents.each do |ipc| %>
	<p>
	  <strong>Title:</strong>
	  <%= ipc.title %>
	</p>
	<p>
	  <strong>Subtitle:</strong>
	  <%= ipc.subtitle %>
	</p>
	<p style="margin-bottom:30px">
	  <strong>Content:</strong>
	  <%= ipc.content %>
	</p>
	<% end %>
</div>

<%= link_to 'Edit', edit_information_page_path(@information_page) %> |
<%= link_to 'Back', information_pages_path %>
