<!-- Modal -->
<div class="modal fade return_request" id="return_proof_<%= order_storage_item.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align:left">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Comprobante de devolución</h4>
      </div>
      <div class="modal-body">
		<p><strong>Fecha de devolución:</strong> <%= l order_storage_item.storage_item_return_proof.created_at, format: :date_detail %></p>
		<p>
		  	<strong>Items devueltos:</strong>
			<ul style="padding-left:15px">
				<% order_storage_item.storage_item_return_proof.order_storage_items.each do |osi| %>
					<li>(ID <%= osi.id.to_s %>) <%= osi.storage_item.public_name %> nombre  <%= osi.name.blank? ? 'No asignado' : osi.name %> (Order #<%= osi.order.id.to_s %>)</li>
				<% end %>
			</ul>
		</p>
		<% unless order_storage_item.storage_item_return_proof.comments.blank? %>
		<p>
		  <strong>Comments:</strong>
		  <%= order_storage_item.storage_item_return_proof.comments %>
		</p>
		<% end %>
		<p>
			<%= image_tag order_storage_item.storage_item_return_proof.photo.url(:l) %>
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>