<!-- Modal -->
<div class="modal fade" id="detail<%= order_storage_item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align:left">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Items Almacenados</h4>
      </div>
      <div class="modal-body">
		<% if order_storage_item.stored_items.size > 0 %>
			<h2 style="margin:0px 0px 10px 0px; padding:0px;"><%= order_storage_item.name %></h2>
			<ul class="list-group">
				<% order_storage_item.stored_items.each do |stored_item| %>
					<li class="list-group-item">
						<h4 class="list-group-item-heading" style="font-weight:normal">
							<%= stored_item.quantity %> <%= stored_item.name %>
						</h4>
						<p class="list-group-item-text">Valor asignado: <%= number_to_currency stored_item.assigned_value %> c/u</p>
						<p class="list-group-item-text" style="color:#666;"><%= stored_item.description %></p>
					</li>
				<% end %>
			</ul>
			<%= image_tag order_storage_item.photo.url(:xl) %>
		<% else %>
			<div class="well">
				<p>La información de tus productos aún no ha sido cargada.</p><p>Por favor revisa nuevamente en un par de horas.</p>
			</div>
		<% end %>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>