<h1><%= @h1 %></h1>
<% @orders.each do |order| %>
<div class="panel panel-default">
    	<div class="panel-heading faq-section">
      		<h2 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="<%= '#collapse'+order.id.to_s %>">
          			Orden # <%= order.id %> - <%= l(order.created_at, format: :medium).capitalize %>
        		</a>
      		</h2>
    	</div>
    	<div id="<%= 'collapse'+order.id.to_s %>" class="panel-collapse collapse">
      		<div class="panel-body">
				<h3>Detalles de la orden</h3>
				<p>
					Status: <b><%= order.order_status.name %></b> 
					<% if current_user.is_god? and params[:controller] == 'main' %>
						<%= link_to 'Marcar Fondos recibidos', update_order_status_order_path(order, new_order_status_id: @funds_received.id), method: :post, 
									:class => 'btn btn-default btn-xs', style: "font-size:10px" %>
						<%= link_to 'Marcar Cajas Entregadas', update_order_status_order_path(order, new_order_status_id: @delivered.id), method: :post, 
									:class => 'btn btn-default btn-xs', style: "font-size:10px" %> 
						<%= link_to 'Marcar Cajas Recolectadas', update_order_status_order_path(order, new_order_status_id: @collected.id), method: :post, 
									:class => 'btn btn-default btn-xs', style: "font-size:10px" %> 
					<% end %>
				</p>
				<p>Precio total: <b><%= number_to_currency order.order_storage_items.joins(:storage_item).sum('price'), precision: 0 %></b></p>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th><th>Status</th><th>Item</th><th>Precio</th><th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<% order.order_storage_items.each do |osi| %>
						<tr>
							<td><%= osi.id %></td>
							<td><%= osi.order_storage_item_status.blank? ? 'No asignado' : osi.order_storage_item_status.public_name %></td>
							<td><%= osi.storage_item.name %></td>
							<td><%= number_to_currency osi.storage_item.price %></td>
							<td>
								<%= link_to 'Ver Detalle', '#', :class => 'btn btn-primary btn-xs', style: "font-size:10px", 'data-toggle' => "modal", 'data-target' => "#detail"+osi.id.to_s %> 
								<%= link_to 'Pedir devolución de cajas', 
									update_order_storage_item_status_order_path(order, order_storage_item_id: osi.id, new_order_storage_item_status_id: @return_in_progress.id), method: :post, 
									:class => 'btn btn-default btn-xs', style: "font-size:10px;" %> 
								<% if current_user.is_god? and params[:controller] == 'main' %>
									<%= link_to 'Marcar caja en Bodega', 
										update_order_storage_item_status_order_path(order, order_storage_item_id: osi.id, new_order_storage_item_status_id: @in_warehouse.id), method: :post, 
										:class => 'btn btn-default btn-xs', style: "font-size:10px" %> 
									<%= link_to 'Marcar caja como devueltas', 
										update_order_storage_item_status_order_path(order, order_storage_item_id: osi.id, new_order_storage_item_status_id: @returned.id), method: :post, 
										:class => 'btn btn-default btn-xs', style: "font-size:10px;" %> 
									<%= link_to 'Editar', '#', :class => 'btn btn-default btn-xs', style: "font-size:10px", 'data-toggle' => "modal", 'data-target' => "#edit"+osi.id.to_s %> 
									<%= link_to 'Eliminar', destroy_order_storage_item_path(osi), :class => 'btn btn-danger btn-xs', style: "font-size:10px", 
												method: :delete, data: { confirm: 'Are you sure?' } %>
								<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<h3>Detalles del despacho</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Dirección</th>
							<th>Código Postal</th>
							<th>Area</th>
							<th>¿Quién recibe?</th>
							<th>Teléfono</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= order.address.name %></td>
							<td><%= order.address.post_code %></td>
							<td><%= order.address.area.name unless order.address.area.blank? %></td>
							<td><%= order.address.receiver %></td>
							<td><%= order.address.phone_number %></td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th>Fecha y hora de entrega</th>
							<th>¿Concerje?</th>
							<th>¿Dejar con vecino?</th>
							<th>¿Esperar 20 minutos?</th>
							<th>Fecha y hora de recolección</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= l(order.delivery_date, format: :medium).capitalize %> entre <%= order.delivery_time %></td>
							<td><%= order.concierge ? 'Sí' : 'No' %></td>
							<td><%= order.neighbour ? 'Sí' : 'No' %></td>
							<td><%= order.collection_date.blank? ? 'Sí' : 'No' %></td>
							<td><%= l(order.collection_date, format: :medium).capitalize %> entre <%= order.collection_time %></td>
						</tr>
					</tbody>
				</table>
     		</div>
		</div>
	</div>
<% end %>
<% @orders.each do |order| %>
	<% order.order_storage_items.each do |osi| %>
		<%= render 'orders/stored_items_form', order_storage_item: osi %>
		<%= render 'orders/stored_items', order_storage_item: osi %>
	<% end %>
<% end %>
