<h1 class="">Pagos</h2>
<hr />
<div><%= link_to 'Generar Pago', '#', :class => 'btn btn-primary', 'data-toggle' => "modal", 'data-target' => "#new_payment" %></div>

<h2 class=""><span class="glyphicon glyphicon-time"></span> Pr칩ximo pago: <%= number_to_currency current_user.in_warehouse_order_storage_items.sum(:price) %></h2>
<p>Fecha m치xima pr칩ximo pago: <b><%=l current_user.next_payment_date, format: :date_detail %></b></p>

<% if current_user.in_warehouse_order_storage_items.size == 0 %>
	<%= render 'orders/no_orders_well' %>
<% else %>
	<div class="panel panel-default" style="border:none">
	  	<div class="panel-heading faq-section">
	    	<h3 class="panel-title">
	      	<a data-toggle="collapse" data-parent="#accordion" href="#detail">
	        		<span class="glyphicon glyphicon-plus" style="font-size:12px"></span> Items a pagar en pr칩ximo pago
	      	</a>
	    	</h3>
	  	</div>
	  	<div id="detail" class="panel-collapse collapse">
			<ul class="list-group">
				<% current_user.in_warehouse_order_storage_items.each do |osi| %>
					<li class="list-group-item">
						<span class="badge"><%= number_to_currency osi.price %></span>
						ID <%= link_to osi.id.to_s, '#', 'data-toggle' => "modal", 'data-target' => "#storage_item_"+osi.id.to_s %> - 
						<%= osi.storage_item.public_name %> (Order # <%= link_to osi.order.id.to_s, osi.order, target: '_blank' %>)
					</li>
					<%= render 'storage_item_details_modal', stored_items: osi.stored_items, id: "storage_item_"+osi.id.to_s %>
				<% end %>
			</ul>
	   	</div>
	</div>
	<hr>
<% end %>
<h2 class=""><span class="glyphicon glyphicon-ok"></span> Historial de pagos realizados</h2>
<% if @done_payments.size == 0 %>
<div class="well">
	No hay pagos realizados
</div>
<% else %>
<table class="table">
	<thead>
		<tr>
			<th>ID Pago</th>
			<th>Tipo de Pago</th>
			<th>Status Pago</th>
			<th>Monto a pagar</th>
			<th>Mes al que corresponde</th>
			<th>Items Pagados</th>
		</tr>
	</thead>
	<tbody>
	<% @done_payments.each do |payment| %>
		<tr>
			<td><%= payment.id %></td>
			<td><%= payment.payment_type.public_name unless payment.payment_type.blank? %></td>
			<td><%= payment.payment_status.public_name %></td>
			<td><%= number_to_currency payment.amount %></td>
			<td>
				<ul style="padding-left:15px">
					<%= payment.payment_months.map { |pm| '<li>'+pm.month.to_s+' / '+pm.year.to_s+'</li>' }.join('').html_safe %>
				</ul>
			</td>
			<td>
				<ul style="padding-left:15px">
					<%= payment.order_storage_items.map { |osi| '<li> (ID '+osi.id.to_s+') '+osi.storage_item.name+' (Order #'+osi.order.id.to_s+')</li>' }.join('').html_safe %>
				</ul>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>
<%= render 'new_payment_modal' %>