<h1 class="">Pagos</h2>
<div class="well" style="padding-bottom:5px">
	<p>En esta sección encontrarás el detalle de lo que tienes que pagar y lo que has pagado por el servicio.</p>
	<ul class="list-group">
		<li class="list-group-item">Se te enviarña un correo de recordatorio 5 días antes de que el pago expire.</li>
		<li class="list-group-item">Haz click en generar pago para hacer la transferencia por el dinero que corresponde.</li>
		<li class="list-group-item">Puedes pagar desde 1 hasta 6 meses. Te recomendamos pagar varios meses por adelantado para tu facilidad.</li>
	</ul>
</div>
<h2 class="">
	<span class="glyphicon glyphicon-time"></span> 
	Próximo pago: <%= number_to_currency current_user.in_warehouse_order_storage_items.sum(:price) %>
	<%= link_to 'Generar Pago', '#', :class => 'btn btn-primary', 'data-toggle' => "modal", 'data-target' => "#new_payment" %>
</h2>
<ul class="list-group" style="margin-top:20px">
  <li class="list-group-item list-group-item-success">Fecha máxima próximo pago: <b><%=l current_user.next_payment_date, format: :date_detail %></b></li>
</ul>
<% if current_user.in_warehouse_order_storage_items.size == 0 %>
	<%= render 'orders/no_orders_well' %>
<% else %>
<h3>Items a pagar en próximo pago</h3>
<% current_user.in_warehouse_order_storage_items.each do |osi| %>
	<li class="list-group-item">
		<span class="badge"><%= number_to_currency osi.price %></span>
		ID <%= link_to osi.id.to_s, '#', 'data-toggle' => "modal", 'data-target' => "#storage_item_"+osi.id.to_s %> - 
		<%= osi.storage_item.public_name %> (Order # <%= link_to osi.order.id.to_s, osi.order, target: '_blank' %>)
	</li>
	<%= render 'storage_item_details_modal', stored_items: osi.stored_items, id: "storage_item_"+osi.id.to_s %>
<% end %>
<hr>
<% end %>
<h2 class=""><span class="glyphicon glyphicon-ok"></span> Historial de pagos realizados</h2>
<% if @done_payments.size == 0 %>
<div class="well">
	No hay pagos realizados
</div>
<% else %>
<table class="table">
	<thead>
		<tr>
			<th>ID Pago</th>
			<th>Tipo de Pago</th>
			<th>Status Pago</th>
			<th>Monto a pagar</th>
			<th>Mes al que corresponde</th>
			<th>Items Pagados</th>
		</tr>
	</thead>
	<tbody>
	<% @done_payments.each do |payment| %>
		<tr>
			<td><%= payment.id %></td>
			<td><%= payment.payment_type.public_name unless payment.payment_type.blank? %></td>
			<td><%= payment.payment_status.public_name %></td>
			<td><%= number_to_currency payment.amount %></td>
			<td>
				<ul style="padding-left:15px">
					<%= payment.payment_months.map { |pm| '<li>'+pm.month.to_s+' / '+pm.year.to_s+'</li>' }.join('').html_safe %>
				</ul>
			</td>
			<td>
				<ul style="padding-left:15px">
					<%= payment.order_storage_items.map { |osi| '<li> (ID '+osi.id.to_s+') '+osi.storage_item.name+' (Order #'+osi.order.id.to_s+')</li>' }.join('').html_safe %>
				</ul>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>
<%= render 'new_payment_modal', to_pay: current_user.in_warehouse_order_storage_items.sum(:price) %>