<div class="panel panel-default">
   	<div class="panel-heading faq-section">
     		<h2 class="panel-title">
       		<a data-toggle="collapse" data-parent="#accordion" href="<%= '#collapse'+@order.id.to_s %>">
         			Orden # <%= @order.id %> - <%= l(@order.created_at, format: :medium).capitalize %>
       		</a>
     		</h2>
   	</div>
   	<div id="<%= 'collapse'+@order.id.to_s %>" class="panel-collapse">
     	<div class="panel-body">
			<%= render 'orders/order_details', order: @order %>
   		</div>
	</div>
</div>