<ul class='nav nav-wizard'>
  <li><%= link_to 'Nuevo Pedido', new_order_path %></li>
  <li><%= link_to 'Detalles', step2_order_path(id: @order.id, area: @order.address.area.id)%></li>
  <li class='active'>Confirmar y Pagar</li>
</ul>


<div class="row new-order-step2">
	<div class="col-md-12">
		<h1 class="center">Por favor confirma tu orden</h1>
		<hr />
		<table class="table" style="width:500px; margin:0 auto;">
			<% @order.storage_items.uniq.each do |si| %>
			<tr>
				<th><%= @order.storage_items.where('storage_item_id = ?', si.id).size %> <%= si.public_name %></th>
				<td><%= number_to_currency @order.storage_items.where('storage_item_id = ?', si.id).size*si.price %></td>
			</tr>
			<% end %>
			<tr style="border-bottom:2px solid black;">
				<th>Retiro de productos</th>
				<td>Gratis!</td>
			</tr>
			<tr>
				<th>Total</th>
				<th><%= number_to_currency @order.order_storage_items.sum('price'), precision: 0 %></th>
			</tr>
		</table>
		<% if @order.storage_items.include? StorageItem.find_by_name('other') %>
		<p class="center">
			* Los items "Otros" se cobrarán una vez se defina el precio.<br />
			Te contactaremos antes para enviarte la cotización.<br />
			Si no estás conforme con algo te devolveremos el dinero de inmediato</p>
		<% end %>
		<hr />
		<h2 class="center">Lugar de entrega</h2>
		<table class="table" style="width:500px; margin:0 auto;">
			<tr>
				<th>Nombre</th>
				<td><%= @order.address.receiver %></td>
			</tr>
			<tr>
				<th>Dirección</th>
				<td><%= @order.address.name %></td>
			</tr>
			<tr>
				<th>Area</th>
				<td><%= @order.address.area.name unless @order.address.area.blank? %></td>
			</tr>
			<tr>
				<th>Teléfono</th>
				<td><%= @order.address.phone_number %></td>
			</tr>
			<tr>
				<th>Hora de entrega</th>
				<td><%= l(@order.delivery_date, format: :medium).capitalize %> entre <%= @order.delivery_time %></td>
			</tr>
		</table>
		<hr />
		<h2 class="center">¿Cómo vas a pagar?</h2>
		<div class="form-actions center">
			<p><%= link_to 'Pagar con Transferencia Bancaria', '#', :class => 'btn btn-primary', 'data-toggle' => "modal", 'data-target' => "#PaymentModal" %></p>
			<%= render 'payment_modal', id: 'PaymentModal' %>
		</div>
	</div>
</div>