<%= form_for(@testimony) do |f| %>
  <% if @testimony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimony.errors.count, "error") %> prohibited this testimony from being saved:</h2>

      <ul>
      <% @testimony.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="form-group">
	<%= f.label :photo, 'Foto de la Persona (debe ser cuadrada)', :class => 'control-label' %>
	<div class="row" style="margin-bottom:10px">
		<div class="col-sm-1">
      		<%= image_tag @testimony.photo.url(:tiny) %>
		</div>
		<div class="col-sm-11">
			<%= f.file_field :photo, :class => 'btn btn-default' %>
		</div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, 'Nombre de la persona', :class => 'control-label' %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title, 'Título', :class => 'control-label' %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, 'Texto', :class => 'control-label' %><br>
    <%= f.text_area :content, :class => 'form-control', style: 'height:100px' %>
  </div>
  <div style="form-group">
	<%= f.label :item_photo, 'Foto del Item', :class => 'control-label' %>
	<div class="row" style="margin-bottom:10px">
		<div class="col-sm-1">
      		<%= image_tag @testimony.item_photo.url(:tiny) %>
		</div>
		<div class="col-sm-11">
			<%= f.file_field :item_photo, :class => 'btn btn-default' %>
		</div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Guardar', :class => 'btn btn-default' %>
  </div>

<% end %>
