<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Receiver</th>
      <th>Name</th>
      <th>Post code</th>
      <th>Area</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.receiver %></td>
        <td><%= address.name %></td>
        <td><%= address.post_code %></td>
        <td><%= address.area_id %></td>
        <td><%= address.user_id %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
