<div style="float:right">
	<%= link_to 'Agregar Dirección', '#', :class => 'btn btn-primary', 'data-toggle' => "modal", 'data-target' => '#new_address' %>
</div>
<h1>Direcciones</h1>
<div class="well" style="padding-bottom:5px">
	<p>En esta sección encontrarás el detalle de todas las direcciones que has agregado.</p>
	<ul class="list-group">
		<li class="list-group-item">Recuerda agregar con todo el detalle necesario y de la forma más precisa posible tu dirección.</li>
		<li class="list-group-item">Estas direcciones las podrás usar para que vayamos a buscar las coas que quieres guardar y devolverte tus cosas.</li>
	</ul>
</div>
<% if @addresses.size == 0 %>
	<%= render 'orders/no_orders_well' %>
<% else %>
	<div class="row">
	<% @addresses.each do |address| %>
		<div class="col-md-4 thumbnail" style="margin:10px">
			<table class="table">
				<tr>
					<th>Nombre</th>
					<td><%= address.receiver %></td>
				</tr>
				<tr>
					<th>Dirección</th>
					<td><%= address.name %></td>
				</tr>
				<tr>
					<th>Código postal</th>
					<td><%= address.post_code %></td>
				</tr>
				<tr>
					<th>Area</th>
					<td><%= address.area.name unless address.area.blank? %></td>
				</tr>
				<tr>
					<th>Teléfono</th>
					<td><%= address.phone_number %></td>
				</tr>
			</table>
			<div style="text-align:right">
			<% if @in_purchase %>
				<%= link_to 'Seleccionar Dirección', select_address_path(address), :class => 'btn btn-primary' %>
			<% end %>
			<%= link_to 'Pedidos a esta dirección', '#', :class => 'btn btn-default', 'data-toggle' => "modal", 'data-target' => '#address_'+address.id.to_s %>
			<%= link_to 'Editar', '#', :class => 'btn btn-warning', 'data-toggle' => "modal", 'data-target' => '#address_'+address.id.to_s %>
			</div>
			<%= render 'addresses/form', address: address, id: 'address_'+address.id.to_s %>
		</div>
	<% end %>
	</div>
<% end %>
<%= render 'addresses/form', address: @address, id: 'new_address' %>
