			</td>
		</tr>
	</tbody>
</table>
</td>
	<td width="7" style="background:url(<%= asset_url 'email/right.png', only_path: false %>) 0 0 repeat-y"></td>
</tr>
<tr>
	<td width="7" style="background:url(<%= asset_url 'email/left.png', only_path: false %>) 0 0 repeat-y"></td>
	<td align="center">
			<table width="708" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
				<tbody>
					<tr>
						<td height="20" align="center"></td>
					</tr>
					<tr>
						<td height="43" bgcolor="#f5f5f5" align="center">
							<font style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#333333;font-weight:bold" face="Arial, Helvetica, sans-serif">Si tienes preguntas o quieres saludarnos contáctanos a <a href="mailto:contacto@MyPlaceToStore.com" style="color:#009bd2;text-decoration:none" target="_blank">contacto@myplacetostore.com</a></font>
						</td>
					</tr>
					<tr>
						<td height="30" align="center" bgcolor="" valign="bottom">
							<font style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#656565" face="Arial, Helvetica, sans-serif">
								<a href="#" style="color:#656565" target="_blank">www.MyPlaceToStore.com</a> &nbsp;|&nbsp; 
								<a href="#" style="color:#656565" target="_blank"><font style="color:#656565">Términos y Condiciones</font></a> &nbsp;|&nbsp; 
								<a href="#" style="color:#656565" target="_blank"><font style="color:#656565">Preguntas Frecuentes</font></a></font>
						</td>
					</tr>
					<tr>
						<td height="70" bgcolor="" align="center" valign="middle">MyPlaceToStore.com</td>
					</tr>
				</tbody>
			</table>
		</td>
		<td width="7" style="background:url(<%= asset_url 'email/right.png', only_path: false %>) 0 0 repeat-y"></td>
	</tr>
	<tr>
		<td height="6" width="7" valign="top"><img src="<%= asset_url 'email/bottom-left.png', only_path: false %>" style="vertical-align:top"></td>
		<td height="6" width="708" valign="top"><img src="<%= asset_url 'email/bottom.png', only_path: false %>" style="vertical-align:top"></td>
		<td height="6" width="7" valign="top"><img src="<%= asset_url 'email/bottom-right.png', only_path: false %>" style="vertical-align:top"></td>
	</tr>
</tbody>
</table>